<div style="text-align: center; margin-top: 30px">
    <h1>Search Users</h1>
    {{#if error}} <span>{{error}}</span> {{/if}}
<div class="row justify-content-center">
    <form class="form-inline" method="POST" action="/user/search">
    <div class='form-group'>
        <input type="text" name="id" class="form-control" placeholder="search users by id">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
    </form>
    </div>
</div> 